<launch>

  <arg name="resolution" default="0.35"/>
  <arg name="max_ray" default="25.0"/>
  <arg name="traversability_radius" default="0.0"/>

  <!-- Nodes to publish to same topic to generate octomap -->
	<!-- <node pkg="topic_tools" type="transform" name="transform1" args="/os1_cloud_node/points /combined_pcl sensor_msgs/PointCloud2 'm'"/> -->
	<!-- <node pkg="topic_tools" type="transform" name="transform2" args="/camera/depth/color/points /combined_pcl sensor_msgs/PointCloud2 'm'"/> -->

	<!-- Node to use the two pointclouds to generate just one octomap -->
	<!-- <node pkg="topic_tools" type="relay" name="relay" args="/combined_pcl /combined_pcl_"/> -->

  <!-- <node pkg="pointcloud_tools"
        type="pcl_filter"
        name="pcl_filter"
        output="screen"
        respawn="true">
                <param name="robot_radius" value="0.45"/>

                <remap from="input" to="/combined_pcl_" />
                <remap from="input" to="/os1_cloud_node/points" />
                <remap from="pcl_filter/output" to="/pcl_filtered" />
	</node> -->

  
  <!-- <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">

    <rosparam command="load" file="$(find voxblox_ros)/config/voxblox_sim_config.yaml" />
    <remap from="pointcloud" to="/os1_cloud_node/points" />

  </node> -->

  <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">

    <!-- <remap from="pointcloud" to="/pcl_filtered" /> -->
    <remap from="pointcloud" to="/os1_cloud_node/points" />
    
    <param name="tsdf_voxel_size" value="$(arg resolution)" />
    <param name="tsdf_voxels_per_side" value="16" />
    <param name="color_mode" value="normals"/>
    <param name="use_tf_transforms" value="true" />
    <param name="enable_icp" value="false" />
    <param name="icp_iterations" value="10" />
    <param name="verbose" value="false" />
    <param name="max_ray_length_m" value="$(arg max_ray)" />
    <param name="min_ray_length_m" value="0.45" />
    <param name="method" value="fast" />
    <param name="mesh_filename" value="/home/tonitauler/voxblox_mesh.ply" />
    <param name="world_frame" value="map" />
    <param name="update_mesh_every_n_sec" value="1.0" />
    <param name="update_esdf_every_n_sec" value="0.5" />

    <param name="publish_pointclouds" value="false" />
    <param name="publish_traversable" value="false" />
    <param name="mesh_as_pointcloud" value="false" />
    <param name="traversability_radius" value="$(arg traversability_radius)" /> 
    <!-- <param name="use_freespace_pointcloud" value="true" />  -->
    <param name="publish_tsdf_map" value="true" />
    <param name="publish_esdf_map" value="true" />
    <!-- <param name="max_block_distance_from_body" value="20.0" /> Allows to generate a local map -->

    <!-- COM GBPLANNER -->
    <param name="allow_clear" value="True" />
    <param name="clearing_ray_weight_factor" value="0.01" />
    <param name="max_weight" value="200" />
    <param name="mesh_min_weight" value="1e-4" />
    <param name="max_consecutive_ray_collisions" value="1" />
    <param name="occupancy_min_distance_voxel_size_factor" value="1.0" />
    <param name="sparsity_compensation_factor" value="50.0" />
    <param name="use_sparsity_compensation_factor" value="True" />
    <param name="truncation_distance" value="0.6" />
    <param name="weight_ray_by_range" value="False" />
    <param name="use_weight_dropoff" value="True" />
    <param name="use_symmetric_weight_drop_off" value="False" />
    <param name="voxel_carving_enabled" value="True" />
    <param name="timestamp_tolerance_sec" value="0.001" />
    <param name="integration_order_mode" value="sorted" />  
    <!-- <param name="pointcloud_queue_size" value="1000" /> -->


    <param name="clear_sphere_for_planning" value="false"/>
    <param name="clear_sphere_radius" value="1.0"/>
    <param name="occupied_sphere_radius" value="$(arg max_ray)"/>

  </node>

</launch>
