<launch>

  <!--
  USE INSTRUCTIONS
  
  1. Go to directory of the bagfile

  Manual:
  2. Launch this file setting the parameter 'path_folder:=$(pwd)':
    roslaunch voxblox_ros mesh_reconstruction.launch path_folder:=$(pwd) manual:=true

  3. Once the mesh is done save the .ply using the voxblox service as follows:
    rosservice call /voxblox_node/generate_mesh
    rosservice call /mussol/voxblox_node/generate_mesh
  The mesh will be saved into the path_folder directory

  Auto:
  2. Launch this file setting the parameter 'path_folder:=$(pwd)':
    roslaunch voxblox_ros mesh_reconstruction.launch path_folder:=$(pwd) manual:=false

  3. The mesh will be saved into the path_folder directory
  -->
   
  <arg name="manual" default="false" /> 
  <!-- <arg name="namespace" default="/" />  -->
  <arg name="namespace" default="mussol" /> 
  <arg name="robot_radius" default="0.55" />
  <arg name="resolution" default="0.15" />
  <arg name="max_range" default="50.0" />
  <arg name="icp" default="True" />
  <arg name="voxblox" default="true" />
  <arg name="vb_mode" default="simple" /> <!-- fast, merged or simple -->
  <arg name="pc_filter" default="False" />
  <arg name="rviz" default="True" />
  <arg name="auto_save" default="True" />
  <arg name="paused" default="True" />
  <arg name="height_threshold" default="1.0" />

  <param name="use_sim_time" value="true"/>

 

  <!-- Rosbag play -->
  <arg name="path_folder" default="/home/tonitauler/Desktop/Bagflies" />
  <arg name="rosbag_rate" default="1.0" />
  <arg name="rosbag_start" default="30.0" />
  <arg name="rosbag_duration" default="200.0" />
   
  <arg name="mesh_name" default="mesh"/>

  <group if="$(arg manual)">
    <!-- Rosbag Node -->
    <node name="rosbag_play" pkg="voxblox_ros" type="rosbag_play.bash" args="$(arg path_folder) $(arg rosbag_rate) $(arg rosbag_start) $(arg rosbag_duration)" output="screen">
    </node>
  </group>

  <!-- GPS -->
  <!-- <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

    <param name="magnetic_declination_radians" value="-0.0229801685"/>

    <param name="yaw_offset" value="-1.57"/>

    <remap from="/imu/data" to="/mussol/dji_sdk/imu" />
    <remap from="/gps/fix" to="/mussol/emlid_gps" />
    <remap from="/odometry/filtered" to="/mussol/ekf_local/odom" />

  </node>

  <node pkg="tf" type="static_transform_publisher" name="gps_to_mussol" args="0 0 0 0 0 0 /mussol /gps 100"/>
  <node pkg="tf" type="static_transform_publisher" name="imu_to_mussol" args="0 0 0 0 0 0 /mussol /body_FLU 100"/> -->
  <!-- END GPS -->

  <group unless="$(arg manual)">
    <node name="automesh" pkg="voxblox_ros" type="automesh.py" output="screen">
      <param name="path" type="string" value="$(arg path_folder)"/>
      <param name="resolution" type="double" value="$(arg resolution)"/>
      <param name="vb_mode" type="string" value="$(arg vb_mode)"/>
      <param name="namespace" type="string" value="$(arg namespace)"/>
      <param name="rate" type="double" value="$(arg rosbag_rate)"/>
      <param name="auto_save" type="bool" value="$(arg auto_save)"/>
      <param name="paused" type="bool" value="$(arg paused)"/>
      <param name="height_threshold" type="double" value="$(arg height_threshold)"/>
    </node>
  </group>

  <group ns="$(arg namespace)">

    <!-- Point Cloud filtering -->
    <group if="$(arg pc_filter)">
      <node pkg="pointcloud_tools"
            type="pointcloud_filtering"
            name="pointcloud_filtering"
            output="screen"
            respawn="true">
                <param name="apply_x_limits" type="bool" value="true"/>
                <param name="apply_y_limits" type="bool" value="true"/>
                <param name="apply_z_limits" type="bool" value="true"/>
                <param name="apply_voxel_grid" type="bool" value="false"/>
                <param name="apply_outlier_removal" type="bool" value="false"/>
                <param name="x_filter_min" type="double" value="0.55"/>
                <param name="x_filter_max" type="double" value="10.0"/>
                <param name="y_filter_min" type="double" value="-10.0"/>
                <param name="y_filter_max" type="double" value="10.0"/>
                <param name="z_filter_min" type="double" value="-10.0"/>
                <param name="z_filter_max" type="double" value="10.0"/>
                <param name="voxel_size" type="double" value="0.15"/>
                <param name="mean_k" type="int" value="50"/>
                <param name="std_dev_thresh" type="double" value="1.0"/>
                <remap from="input" to="os_cloud/points" />
                <remap from="pointcloud_filtering/output" to="/pcl_filtered" />
      </node>
    </group>

    <group if="$(arg voxblox)">
      <node name="voxblox_node" pkg="voxblox_ros" type="esdf_server" output="screen" args="-alsologtostderr" clear_params="true">
        <remap from="pointcloud" to="/pcl_filtered" if="$(arg pc_filter)"/>
        <remap from="pointcloud" to="os_cloud/points" unless="$(arg pc_filter)"/>
        <param name="tsdf_voxel_size" value="$(arg resolution)" />
        <param name="tsdf_voxels_per_side" value="16" /> <!-- 16 -->
        <param name="use_tf_transforms" value="true" /> <!-- If false you have to publish the transform: world_frame -> sensor
                                                        to topic "transform" of type geometry_msgs::TransformStamped -->

        <!-- Colorization -->
        <param name="color_mode" value="normals"/> <!-- color, height, normals, lambert, lambert_color or gray -->
        <param name="intensity_colormap" value="rainbow"/> <!-- rainbow, inverse_rainbow, grayscale, inverse_grayscale or ironbow -->
        <param name="intensity_max_value" value="255.0"/> 
        
        
        <!-- ICP -->
        <param name="enable_icp" value="$(arg icp)" />
        <param name="accumulate_icp_corrections" value="True" />
        <param name="icp_refine_roll_pitch" value="True" />
        <param name="icp_iterations" value="200000" />
        <param name="icp_mini_batch_size" value="20" />
        <param name="icp_subsample_keep_ratio" value="3.5" />
        <param name="icp_min_match_ratio" value="0.5" />
        <param name="icp_inital_translation_weighting" value="1.0" /> <!-- 1.0 -->
        <param name="icp_inital_rotation_weighting" value="10.0" /> <!-- 10.0 -->


        <param name="verbose" value="false" />
        <param name="allow_clear" value="True" />
        <param name="max_ray_length_m" value="$(arg max_range)"/>
        <param name="min_ray_length_m" value="$(arg robot_radius)"/>
        <param name="update_mesh_every_n_sec" value="0.1"/>
        <param name="method" value="$(arg vb_mode)"/> <!-- fast, merged or simple -->
        <!-- <param name="mesh_filename" value="$(arg path_folder)/$(arg mesh_name)_$(arg resolution)_$(arg vb_mode).ply" /> -->
        <param name="mesh_filename" value="$(arg path_folder)/mesh_$(arg resolution)_$(arg vb_mode).ply" />

        <!-- FRAMES -->
        <param name="world_frame" value="odom" if="$(eval arg('namespace') == '/')"/>
        <param name="world_frame" value="mussol/nav" unless="$(eval arg('namespace') == '/')"/>

        <param name="sensor_frame" value="" /> <!-- "" means directly frame of the input pointcloud header-->

        <param name="clearing_ray_weight_factor" value="0.01" />
        <param name="max_weight" value="200" />
        <param name="mesh_min_weight" value="1e-4" />
        <param name="max_consecutive_ray_collisions" value="2" />
        <param name="occupancy_min_distance_voxel_size_factor" value="1.0" />
        <param name="truncation_distance" value="$(eval 4.* arg('resolution'))" /><!-- 0.6 -->
        <param name="use_const_weight" value="False" /> <!-- True -->
        <param name="weight_ray_by_range" value="False" />
        <param name="use_weight_dropoff" value="True" />
        <param name="use_symmetric_weight_drop_off" value="False" />
        <param name="voxel_carving_enabled" value="True" />
        <param name="timestamp_tolerance_sec" value="0.3" />
        <param name="integration_order_mode" value="sorted" />  <!-- sorted or mixed -->
        <param name="pointcloud_queue_size" value="1000" />

      </node>
    </group>
  </group>

  <!-- TF_2_POSE -->
  <node name="tf_2_pose" pkg="voxblox_ros" type="tf_2_pose.py" output="log"/>

  <!-- RVIZ -->   
  <group if="$(arg rviz)">  
    <node name="rviz" pkg="rviz" type="rviz" args="-d /home/tonitauler/ROS/catkin_ws/src/tools/voxblox/voxblox_ros/rviz/rosbag_drone.rviz" output="log"/>
  </group>

</launch>
